html,
body {
    height: 100%;
      scroll-behavior: smooth;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

span {
    color: #938e99;
}

.header-section {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 21px 51px;
    z-index: 99;
}

.header-socil-links {
    float: right;
    padding-top: 10px;
}

.header-socil-links a {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    margin-left: 30px;
}

.header-socil-links a:first-child {
    margin-left: 0;
}

.slicknav_menu {
    display: none;
}



#menu {
    list-style: none;
    float: right;
}

#menu li {
    display: inline-block;
    margin-right: 40px;
}

#menu li a {
    display: block;
    font-size: 16px;
    padding: 10px;
    color: #fff;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

#menu li a:hover {
    color: #f7ffa0;
}

#menu li.active a {
    color: #f7ffa0;
}

#menu li.active a:after {
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    left: calc(50% - 8px);
    bottom: -13px;
    background: #f7ffa0;
    border-radius: 50%;
}


.site-btn {
    display: inline-block;
    border: none;
    font-size: 14px;
    font-weight: 700;
    min-width: 185px;
    padding: 23px 40px;
    border-radius: 9px;
    text-transform: uppercase;
    background: #f7ffa0;

    color: #3769AF;
    line-height: normal;
    letter-spacing: 2px;
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
}

.site-btn:hover {
    background: transparent;
    color: wheat;
    border: 3px solid #f7ffa0;
}


.sectionOne {
    background-image: url("../images/headerPhoto.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 900px;
    overflow: hidden;
}

.section-one-master{
   background-image: url("../images/headerMaster.png"); 
      background-repeat: no-repeat;
    background-size:cover;
    background-position: top center;
    height: 500px;
   
    overflow: hidden;
}
.hero-content-warp {
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.hero-content {
    position: relative;
    max-width: 710px;
    padding-top: 180px;
    left: -90px;
}

.hero-content img {
    margin-bottom: 10px;
}

.hero-content h2 {
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #fff;
}

.hero-content h2 span {
    color: #f7ffa0;
    font-weight: 700;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #fff;
}

.headerPic {
    height: 500px;
    width: 600px;
    position: absolute;
    right: -100px;
    bottom: 200px;
}



/* ----------------
    Responsive
   ---------------------*/

@media (min-width: 1200px) {
    .container {
        max-width: 1176px;
    }
}

@media (max-width: 1350px) {
    .hero-content {
        left: 0;
    }
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-section {
        padding: 21px 20px;
    }

    #menu li {
        margin-right: 25px;
    }

    .sectionOne {
        background-position: left 40% top;
    }

    .headerPic {
        max-width: 900px;
        right: -70px;
    }


}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .header-section {
        padding: 21px 15px;
    }

    #menu li {
        margin-right: 5px;
    }

    .header-socil-links a {
        margin-left: 10px;
    }

    .sectionOne {
        background-position: top left 10%;
    }

    .hero-content h2 {
        font-size: 60px;
    }

    .headerPic,
    {
        display: none;
    }
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
    .header-section {
        padding: 21px 15px;
    }

    #menu {
        display: none;
    }

    .header-section {
        text-align: center;
    }

    .header-socil-links {
        float: none;
    }

    .slicknav_menu {
        text-align: left;
        background: transparent;
        display: block;
    }

    .slicknav_nav {
        border-radius: 9px;
        background: #1b1c2e;
        padding: 13px 0;
        margin-top: 11px;
    }

    .slicknav_nav li.active a {
        border-radius: 6px;
        color: #f7ffa0;
    }

    .slicknav_btn {
        background-color: #393a52;
        padding: 9px 10px;
        display: block;
        margin: 0 auto;
        width: 39px;
        float: none;
    }

    .slicknav_menu .slicknav_no-text {
        float: none;
    }

    .sectionOne {
        background-position: top left 10%;
    }

    .hero-content h2 {
        font-size: 45px;
    }

    .headerPic,
 {
        display: none;
    }
}

/* Small Mobile :320px. */


.whyus-section .container .row .whyus-div .whyus-header-div h2 {
    z-index: -1;
    font-size: 60px;
    font-weight: 300;
    position: relative;
}

.whyus-section .container .row .whyus-div .whyus-desc {
    z-index: -1;
    font-size: 20px;
    color: #938e99;
    font-weight: 300;
    position: relative;
}

.whyus-list {
    margin: 0;
    padding: 0;
}

.whyus-list li {
    list-style: none;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 300;
    color: #d291bc;
}

.whyus-list li span {
    padding-right: 10px;
    color: #d291bc;
    font-size: 22px;
}


.services-section {
    padding-top: 60px;
    margin-bottom: -20px;
}

.services-section .service-item {
    text-align: center;
}

.services-section .service-item .service-icon {
    width: 205px;
    height: 205px;
    background: #f7ffa0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto 45px;
    position: relative;
    color: #493365;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.service-item.service-item.service-icon:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.service-item.service-item.service-icon img {
    max-width: 77px;
    position: relative;
    z-index: 1;
}

.service-item span {
    font-size: 20px;
    text-transform: uppercase;
    color: #7f7987;
}


.service-item h4 {
    font-weight: 700;
    padding-top: 15px;
    margin-bottom: 35px;
    letter-spacing: 2px;
    font-size: 25px;
    text-transform: uppercase;
}

.service-item p {
    margin-bottom: 0;
    font-size: 16px;
    color: #938e99;
    line-height: 2;
    padding: 20px;
}

.service-item:hover .service-icon {
    color: #fff;
    background: #d291bc;
}

.service-item:hover .service-icon:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/* Subscribe Style */
.subscribe-area {
       margin-top: 20px;
  background-image: url("../images/subscribe_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
     padding: 130px 0px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .subscribe-area {
    padding: 80px 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .subscribe-area {
    padding: 70px 0px;
  }
}

@media (max-width: 575px) {
  .subscribe-area {
    padding: 70px 0px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 26, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_common.scss */
  .subscribe-area {
    padding: 70px 0px;
  }
}


.subscribe-area .subscribe-text p {
  margin-bottom: 43px;
  font-weight: 300;
  color: #888888;
  font-size: 24px;
}
.subscribe-area h1 {
  font-size: 40px;
  text-transform: uppercase;
}
.subscribe-area .subscribe-form input {
  width: 73%;
  float: left;
  border-radius: 50px;
  padding: 29px 22px;
  margin-right: 1%;
  background-color: white;
  font-size: 14px;
}
.subscribe-area .subscribe-form input ::placeholder {
  color: #999999;
}
.subscribe-area .subscribe-form input:focus {
  outline: none;
  border-color: #ddd;
}

.subscribe-area .subscribe-form .subscribe-btn {
  width: 26%;
  line-height: 30px;
  float: right;
  padding: 15px 20px;
  text-align: center;
  color:#f7ffa0 ;
    background-color: #d291bc;
    border-radius: 35px;
       border:none;
}
.subscribe-area .subscribe-form .subscribe-btn:hover {
  border: 2px solid #d291bc;
    background-color: transparent;
    color: #d291bc;
}

/* Footer Style */
.footer-master{
    background-image: url('../images/footer.jpg');
 
}
.footer-master .footer-container h4{
    color:#f7ffa0;
    margin: 0;
    padding-bottom: 20px;

}

.footer-master .footer-container p{
    color:#fff;
    font-size: 20px;
    padding: 15px 50px 15px 0px;
    margin: auto;
}
.footer-master .footer-container p span{
    color:#f7ffa0;

}

.footer-master .footer-container ul{
  
    list-style: none; 

}
.footer-master .footer-container ul li{
  padding: 5px;

}
.footer-master .footer-container a{
      color:#fff;
    font-size: 20px;
        }
.footer-master .footer-container a:hover{
      color:#f7ffa0;
}